// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";

body {
  background-color: #FEE140;
  background-image: linear-gradient(90deg, #FEE140 0%, #FA709A 100%);
}

ul {
  list-style-type: none;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.row {
  display: flex;
  align-items: center;
}

.button {
  padding-top: 15px;
  padding-left: 10px;
}
